*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  min-width: 100%;
  height: 100%;
  display: flex; /* Helps ensure flex children don't overflow */
} 